.banner.home-page.top
  %h1 Comics
.container
  .container-fluid.top
    = render 'comics/index'
    .grid-container
      %ul.grid
        %li
          %h3
            COMICS
        %li
          %h3
            COMICS
        %li
          %h3
            COMICS
        %li
          %h3
            COMICS
        %li
          %h3
            COMICS
        %li
          %h3
            COMICS
