.banner.home-page.top
  %h1 Film

.container
  .container-fluid
    = render 'film/index'
    .grid-container
      %ul.grid
        %li
          %h3
            FILM
        %li
          %h3
            FILM
        %li
          %h3
            FILM
        %li
          %h3
            FILM
        %li
          %h3
            FILM
        %li
          %h3
            FILM
