.banner.home-page.top
  %h1 Gallery
.container
  .container-fluid
    = render 'gallery/index'
    .grid-container
      %ul.grid
        %li
          %h3
            GALLERY
        %li
          %h3
            GALLERY
        %li
          %h3
            GALLERY
        %li
          %h3
            GALLERY
        %li
          %h3
            GALLERY
        %li
          %h3
            GALLERY
