.banner.home-page.top
.container-fluid
  .grid-container
    %ul.grid
      %li
        %h3
          FILM
      %li
        %h3
          COMICS
      %li
        %h3
          GALLERY
      %li
        %h3
          PHOTOGRAPHY
