.banner.home-page.top
  %h1 Welcome to the Insatiable

.container
  .container-fluid
    .grid-container
      %ul.grid
        %a{ :href => film_path }
          %li
            %h3
              FILM
        %a{ :href => comics_path }
          %li
            %h3
              COMICS
        %a{ :href => gallery_path }
          %li
            %h3
              GALLERY
        %a{ :href => photography_path }
          %li
            %h3
              PHOTOGRAPHY
