.banner.home-page.top
  %h1 Photography
.container
  .container-fluid
    = render 'photography/index'
    .grid-container
      %ul.grid
        %li
          %h3
            PHOTOGRAPHY
        %li
          %h3
            PHOTOGRAPHY
        %li
          %h3
            PHOTOGRAPHY
        %li
          %h3
            PHOTOGRAPHY
        %li
          %h3
            PHOTOGRAPHY
        %li
          %h3
            PHOTOGRAPHY
