$brand-color: #AA012A;
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
  color: $brand-color;
  transition: .5s;
  &:hover {
    color: lighten($brand-color, 10);
  }
}
.container h1 {
  padding-left: .35em;
}
nav.navbar.navbar-default.navbar-fixed-top {
  background: #fff;
}
.top {
  margin-top: 3.65em;
}
.banner.home-page, .banner.pageheader {
  height: 25em;
  background: -webkit-linear-gradient($brand-color, darken($brand-color, 20)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($brand-color, darken($brand-color, 20)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($brand-color, darken($brand-color, 20)); /* For Firefox 3.6 to 15 */
  background: linear-gradient($brand-color, darken($brand-color, 20)); /* Standard syntax */
  h1 {
    padding-top: 4em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px #111;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px)  {
}
@media (min-width: 1200px) {
}

